<span class="bible-quote">
	<span class="right-punct">(</span>
	<span class="field-technical-mark">{{content.field_technical_mark.0}}</span>
	<span class="field-quote-value">{{content.field_quote_value.0}}</span>
	<span class="field-bible-book">{{content.field_bible_book.0}}</span>
	<span class="field-quote-address">{{content.field_quote_address.0}}</span>
	<span class="left-punct">)</span>
</span>
