<a tabindex="0" data-placement="right" data-container="body" role="button" data-toggle="popover" data-trigger="focus" data-content="дополнительные грамматические формы" class="source-popover">
	<img src="/themes/images/square.png" class="dynamic-image">
</a>
{{content.field_additional_form_items}}.