<a tabindex="0" data-placement="right" data-container="body" role="button" data-toggle="popover" data-trigger="focus" data-content="несвободное устойчивое сочетания" class="source-popover">
	<img src="/themes/images/rhombus_staying.png" class="dynamic-image">
</a>
 <span class="field-collocation">{{content.field_collocation}}</span> <span>{{content.field_set_phrase_items}}</span>