<span class="field-collocability-items">
<a tabindex="0" data-placement="right" data-container="body" role="button" data-toggle="popover" data-trigger="focus" data-content="показатель синтаксической сочетаемости слов" class="source-popover">
	<img src="/themes/images/rhombus_laying.png" class="dynamic-image">
</a>
{{content.field_collocability_items}}</span>