<a tabindex="0" data-placement="right" data-container="body" role="button" data-toggle="popover" data-trigger="focus" data-content="показатель изменения" class="source-popover">
	<img src="/themes/images/rectangle_laying.png" class="dynamic-image">
</a>
<span class="field-change-items">{{content.field_change_items}}</span>